<br/>
  <div class="container p1x-4 text1-center">
    <div class="d-flex flex-row-reverse">
      <% if @post.user_id == Current.user.id%>
        <a href=<%= "/posts/#{@post.id}/edit" %> style="padding-left: 10px;">
          <input type="button" name="editPost" value="Edit Post">
        </a>
      <% end %>
    </div>
  </div>

  <strong>Title : </strong><%= @post.title %><br/><br/>

  <strong>Content : </strong><br/><%= @post.content %><br/><br/>

  <strong>Tags : </strong><br/><%= @post.tag_list.join(", ") %><br/><br/>
  
  <% if @post.upload.present? %>
    <strong>Uploads : </strong><br/>
    <%= image_tag url_for(@post.upload), style: 'height:150px;width:150px;margin-bottom:10px;' %><br/><br/>
  <% end %>  

  <small>Submitted <%= time_ago_in_words(@post.created_at) %> ago</small><br/><br/>

  <strong>Mentions : </strong><br/>
  <% if @user_mentions.present? %>
    <%= @user_mentions.map{|u| u.username}.join(", ") %>
  <% end %> 

  <h3>Comments</h3>

    <%= form_for [@post, Comment.new] do |f| %>
      <%= f.text_field :body, placeholder: "Add a comment", class: 'form-control'  %><br/>
      <%= f.submit "Add Comment" %>
    <% end %><br/>

  <ul>
    <%= render @post.comments %>
  </ul>